a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.header_logo {
    display: inline-block;
    margin: 2rem 0;
    font-family: 'Ma Shan Zheng', cursive;
    background: black;
    font-size: 4rem;
    -webkit-background-clip: text !important;
    color: transparent;
    cursor: pointer;
}

.header_logo:hover {
    background: linear-gradient(40deg, #ffd86f,#fc6262) !important;
    -webkit-background-clip: text !important;
    color: transparent;
    transform: scale(1.3) skew(-10deg);
}

.header_btn {
    margin-bottom: 2rem;
}

.footer_btn {
    margin-top: 2rem;
}

.footer_logo {
    margin: 1.5rem 0; font-family: 'Ma Shan Zheng', cursive;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.profile_image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 50%;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgray;
}

.article_image {
    border-radius: 2rem;
    width: 70%;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem;
}

.container {
    padding: 0;
    margin: 0 auto;
}

.gradient-border {
    width: 45%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 1rem;*/
    flex-direction: column;

    --borderWidth: 3px;
    background: transparent;
    position: relative;
    border-radius: 1rem;
}

.gradient-border:hover:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(40deg, #ff4e00, #ec9f05, #ffd86f,#fc6262, #861657, #5f0a87, #a4508b);
  border-radius: 1rem;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.gradient-border:hover {
    color: #fff;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.comment_box {
    border: solid;
    border-color: black;
    text-align: left;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font-size = 16px */
        font-size: 13px;
    }
}

.header_btn > span > a:hover {
    font-weight: bold;
}